*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(background2.webp);
    background-size: cover;
}


/* BURGER MENU */

.hamburger-menu{
    display: none;
    
}


#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 350px;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }


/* MENU */

#menu {
    display: flex;
    flex-direction: row;
    background-color:
        /*rgb(192, 222, 232)*/
        transparent;
    background-image:
        /*url(home-photos/background-home1.jpeg)*/
       url(background2.webp);
    background-size: cover;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    gap: 330px;
    padding-left: 90px;
    font-size: 15px;
}

#menu ul li{
    float: left;
    padding-left: 10px;
    list-style: none;
    text-decoration: none;
    padding-left: 30px;
    padding-top: 10px;
}

#menu a {
    text-decoration: none;
    color: #333;
}

#menu .call{
    padding-top: 10px;
}

#menu ul li a:hover{
    color: lightcoral;
}

span {
    color: lightcoral;
}

/* MAIN */

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 250px;
    font-size: 40px;
    color: #333;
}

/* MAIN 1 */

.main1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 130px;
}

.card{
    width: 19rem;
    height: 29rem;
    /*border: 2px solid black;*/
    box-shadow: 0 0 7px;
    padding-top: 3px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}


.main1 ul{
    padding-top: 10px;
}

.main1 ul li{
    list-style: none;
    /*border: 1px #333 solid;*/
    border-radius: 3px;
    margin-top: 0.5px;
    height: 33px;
}

.main1 ul li a{
    text-decoration: none;
    color: #333;
    padding-left: 10px;
}

.card ul li a:hover{
    color: lightcoral;
    font-weight: bold;
}

.card h5{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
}

.card p{
    padding-left: 10px;
}

.card img{
    width: 18.7rem;
    height: 256px;
    object-fit: fill;
    border-radius: 3px;
} 

/* MAIN 2 */ 


.main2{
    margin: 100px 90px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 70px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\2304'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\005E";
  }



  .panel{
    padding: 100px;
  }
  .panel button{
    width: 90px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 660px;
    margin-top: 30px;
}

.panel button{
    width: 130px;
    height: 40px;
    margin-top: 30px;
    margin-left: 660px;
    border-radius: 5px;
    background-color: rgb(245, 151, 151);
}

.panel button a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}

.panel button:hover{
    cursor: pointer;
}

.panel p{
    width: 500px;
}
.panel ul li {
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}


  /* FOOTER */

footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    height: 330px;
    padding-top: 130px;
    margin-top: 220px;
    /*border-radius: 10px;*/
    /*border: 2px solid black;*/
   /* margin: 20px;*/
    /*gap: 150px;*/
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 0 5px;
    background-color: rgb(233, 212, 209);
}

.footer_container{
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding-top: 90px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}


footer h5{
    padding: 20px;
    padding-top: 150px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

footer ul li{
    list-style: none;
    padding-top: 10px;
}

footer ul li a{
    text-decoration: none;
    color: black;
}

footer ul li a:hover{
    cursor: pointer;
    color: lightcoral;
}

.foot3 li{
    float: left;
    margin-left: 10px;
}

.foot1 h5{
    padding: 0;
    padding-bottom: 10px;
}

.foot2 h5{
    padding: 0;
    padding-bottom: 10px;
}

.foot3 h5{
    padding: 0;
    padding-bottom: 10px;
}

.foot4 h5{
    padding: 0;
    padding-bottom: 10px;
}

.foot3 ul li a{
    font-size: 20px;
    gap: 20px;
}


/* RESPONSIVE ipad pro */

@media only screen and (max-width: 1024px){

    #menu{
        display: none;
    }
    .hamburger-menu{
        display: block;
        top: 0;
        position: absolute;
    }

    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-top: 150px;
     }

     .main1{
        display: flex;
        gap: 20px;
     }

     .panel{
        padding-left: 20px;
     }

     .footer_container{
        display: flex;
        flex-direction: row;
        gap: 60px;
     }
}




/* RESPONSIVE phone */

@media only screen and (max-width: 412px){

    body{
       max-width: 412px;
    }

    #menu{
        display: none;
    }
    .hamburger-menu{
        display: block;
        top: 0;
        position: absolute;
    }

    h1{
        padding-left: 60px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        font-size: 40px;
    }

    .main1{
        display: flex;
        flex-direction: column;
    }
    .main2{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .main3{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .panel{
        width: 412px;
        padding-left: 10px;
    }

    .panel p{
        padding-top: 40px;
        width: 300px;
        padding-left: 30px;
    }

    .panel ul li {
        width: 300px;
        margin-left: 30px;
    }

    .panel h3 {
        padding-left: 30px;
    }

    .panel img{
        display: none;
    }




    footer{
        display: flex;
        flex-direction: column;
        height: 1000px;
        width: 412px;
    }

    footer h5{
        font-weight: bold;
    }

    .footer_container{
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        padding-right: 30px;
        gap: 80px;
        padding-top: 0;
    }



}

